AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 79
IndentWidth: 3
MaxEmptyLinesToKeep : 2
NamespaceIndentation: All
UseTab: Never

